%h1 Timeline

.row
  = 9.times do
    .large-4.small-6.columns
      .panel
        %img{src: "https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/73.jpg"}
        %span just posted a product
        %img{src: "http://www.calessia.ro/wp-content/uploads/wpsc/product_images/thumbnails/colier_calessia_pietre_semipretioase.JPG"}/
        %h5 Colier pietre pretioase
        %h6.subheader $75.00
        %button.button.success.radius Buy
